.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #15182E;
	height:84px;
	&__wrapper {
		width: 1219px;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: 'Exo 2', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		color: #FFFFFF;
	}
	&__adress {
		font-family: 'Exo 2', sans-serif;
		flex: 1;
	}
	&__requisites {
		display: flex;
		font-size: 12px;
		p:not(:last-child) {
			margin-right: 7px;
		}
	}
	&__politic {
		font-size: 14px;
		text-decoration: underline;
		color: rgba(255, 255, 255, 0.75);
		cursor: pointer;
		flex: 1;
		&:hover {
			color: rgba(255, 255, 255, 1);
		}
	}
}