.inside {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #171312;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	@media screen and (max-width: 515px) {
		align-items: center;
	}
	&:before {
		content: '';
		position: absolute;
		background-image: url(../img/index_cover.png);
		background-size: cover;
		width: 100%;
		height: 100vh;
		pointer-events: none;
	}
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: 591px) {
			padding: 0 20px;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__text {
		margin-top: 50px;
		margin-bottom: 35px;
		font-family: 'Exo 2', sans-serif;
		font-style: normal;
		font-weight: 300 !important;
		font-size: 20px;
		line-height: 150%;
		text-align: center;
		color: #FFFFFF;
		max-width: 572px;
		@media screen and (max-width: 515px) {
			font-size: 13px;
			margin-top: 25px;
		}
	}
	&__button {
		@media screen and (max-width: 340px) {
			a {
				font-size: 16px;
			}
		} 
	}
	&__logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		.logo {
			width: 133px;
			height: 70px;
			@media screen and (max-width: 515px) {
				width: 75px;
				height: 35px;
				background-size: contain;
			}
		}
		p {
			font-family: 'Source Serif Pro',sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 130%;
			text-align: center;
			color: #F6DDE0;
			margin-top: 20px;
			@media screen and (max-width: 515px) {
				font-size: 16px;
				margin-top: 10px;
			}
		}
	}
	&__quiz {
		p {
			font-family: 'Exo 2', sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 150%;
			text-align: center;
			color: rgba(255, 255, 255, 0.1);
			margin: 100px 0;
			@media (max-height: 850px) {
				margin: 50px 0;
			}
			@media (max-height: 700px) {
				margin: 25px 0;
			}
		}
	}
	&__movedown {
		display: flex;
		flex-direction: column;
		align-items: center;
		span {
			color: white;
			font-family: 'Exo 2', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			text-align: center;
			color: #FFFFFF;
			@media screen and (max-width: 515px) {
				font-size: 13px;
			}
		}
		a {
			display: block;
			background-image: url(../img/mouse.svg);
			background-size:contain;
			background-position: center;
			background-repeat: no-repeat;
			width: 19px;
			height: 48px;
			margin-top: 30px;
			margin-bottom: 70px;
			@media screen and (max-width: 515px) {
				margin-bottom: 0;
			}
		}
	}
}