.inside {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #171312;
	display: flex;
	align-items: center;
	justify-content: center;
	&:before {
		content: '';
		position: absolute;
		background-image: url(../img/index_cover.png);
		background-size: cover;
		width: 100%;
		height: 100vh;
		pointer-events: none;
	}
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: 591px) {
			padding: 0 20px;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__text {
		margin-top: 50px;
		margin-bottom: 35px;
		font-family: 'Exo 2', sans-serif;
		font-style: normal;
		font-weight: 300 !important;
		font-size: 20px;
		line-height: 150%;
		text-align: center;
		color: #FFFFFF;
		max-width: 572px;
		@media screen and (max-width: 515px) {
			font-size: 13px;
			margin-top: 25px;
		}
	}
	&__logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		.logo {
			width: 133px;
			height: 70px;
			@media screen and (max-width: 515px) {
				width: 75px;
				height: 35px;
			}
		}
		p {
			font-family: Source Serif Pro;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 130%;
			text-align: center;
			color: #F6DDE0;
			margin-top: 20px;
			@media screen and (max-width: 515px) {
				font-size: 16px;
				margin-top: 10px;
			}
		}
	}
}