.section {
	&__content {
		width: 100%;
		height: 100%;
		@media screen and (max-height: 650px) {
			height: initial;
		}
	}
}
.flex-align-center {
	display: flex;
	align-items: center;
}

.text-black {
	color: #231814;
}
.orderone {
	@media screen and (max-width: 736px) {
		order: 1;
	}
}