<div class="booklet">
	<div class="booklet__wrapper">
		<div class="booklet__content">
			<div class="booklet__img" style="background-image: url(../img/booklet/3.jpg);">

			</div>
			<div class="booklet__info" style="background-color: #2C451C;">
				<h3 class="booklet__title">Эстетика в мелочах</h3>
				<p class="booklet__text">Каждый сейф - произведение искусства. Машинный труд облачён в красоту ручной работы. </p>
				<p>Выбирайте эксклюзивные дизайнерские элементы, чтобы сейф точно соответствовал Вашему стилю.</p>
			</div>
		</div>
	</div>
</div>