<div class="benefits">
	<div class="benefits__wrapper">
		<div class="benefits__content">
			<div class="benefits__card card">
				<div class="card__wrapper">
					<div class="card__img" style="background-image: url(img/benefits/1.jpg);"></div>
					<div class="card__text">
						<p>&mdash;&nbsp;Изготовление сейфов под Ваши цели: от&nbsp;ювелирных украшений до&nbsp;оружия</p>
						<p class="card__text_center">&mdash;&nbsp;Максимально-эффективное использование пространства: треугольные, пятиугольные и&nbsp;даже круглые сейфы</p>
						<p>&mdash;&nbsp;Внешняя отделка&nbsp;&mdash; цвет, материал отделки (дерево, стекло, кожа), дизайнерские элементы</p>
					</div>
				</div>
			</div>
			<div class="benefits__card card">
				<div class="card__wrapper">
					<div class="card__img" style="background-image: url(img/benefits/2.jpg);"></div>
					<div class="card__text">
						<p>&mdash;&nbsp;Наполнение&nbsp;&mdash; ящики, зажимы, полки, автоподзаводы</p>
						<p class="card__text_center">&mdash;&nbsp;Для каждого элемента наполнения можно выбрать уникальную отделку и&nbsp;компановку.</p>
						<p>&mdash;&nbsp;Вся фурнитура выполнена по&nbsp;эксклюзивному дизайну: от&nbsp;формы до&nbsp;гравировки</p>
					</div>
				</div>
			</div>
			<div class="benefits__card card">
				<div class="card__wrapper">
					<div class="card__img" style="background-image: url(img/benefits/3.jpg);"></div>
					<div class="card__text">
						<p>&mdash;&nbsp;Безопасность, подтвержёденная сертификатами</p>
						<p class="card__text_center">&mdash;&nbsp;Не&nbsp;важно, будет&nbsp;ли это лёгкое изделие для защиты от&nbsp;детей</p>
						<p>&mdash;&nbsp;Либо тяжёлое капитальное изделие с&nbsp;защитой от&nbsp;взлома и&nbsp;огня</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>