<div class="benefits">
	<div class="benefits__wrapper">
		<div class="benefits__content">
			<div class="benefits__card card">
				<div class="card__wrapper">
					<div class="card__img" style="background-image: url(../img/benefits/1.jpg);"></div>
					<div class="card__text">
						<p>Изготовление сертифицированных сейфов для хранения драгоценностей: от ювелирных украшений до оружия.</p>
						<p class="card__text_center">Форма - треугольные, пятиугольные, круглые.</p>
						<p>Внешняя отделка - цвет, материал отделки (дерево, стекло, кожа), дизайнерские элементы.</p>
					</div>
				</div>
			</div>
			<div class="benefits__card card">
				<div class="card__wrapper">
					<div class="card__img" style="background-image: url(../img/benefits/2.jpg);"></div>
					<div class="card__text">
						<p>Изготовление сертифицированных сейфов для хранения драгоценностей: от ювелирных украшений до оружия.</p>
						<p class="card__text_center">Форма - треугольные, пятиугольные, круглые.</p>
						<p>Внешняя отделка - цвет, материал отделки (дерево, стекло, кожа), дизайнерские элементы.</p>
					</div>
				</div>
			</div>
			<div class="benefits__card card">
				<div class="card__wrapper">
					<div class="card__img" style="background-image: url(../img/benefits/3.jpg);"></div>
					<div class="card__text">
						<p>Изготовление сертифицированных сейфов для хранения драгоценностей: от ювелирных украшений до оружия.</p>
						<p class="card__text_center">Форма - треугольные, пятиугольные, круглые.</p>
						<p>Внешняя отделка - цвет, материал отделки (дерево, стекло, кожа), дизайнерские элементы.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>