<div class="contacts">
	<div class="contacts__wrapper">
		<div class="contacts__content">
			<div class="contacts__logo">
				<a class="logo-black" style="width: 162px; height: 84px;"></a>
				<p>Наша история</p>
			</div>
			<div class="contacts__text">
				<p>Когда партнёры Никита Андреевич и Николай Сергеевич решили основать мастерскую по производству<br>
сейфов - у обоих был более чем десятилетний опыт по созданию механических систем безопасности.</p>
				<p class="contacts__text-center">Работая на разных производствах, у обоих сложился схожий взгляд на рынок отечественной<br>
продукции - грубые формы изделий сильно уступают в желании владения<br>
европейским производителям с изящными формами их сейфов. </p>
				<p>Отсутствие инноваций в системах безопасности отодвигают всю кажущуюся мощь на уровень защищённости<br> китайского массмаркета. Таким образом, было принято решение объединиться<br>
 с целью создания лучших сейфов на Российском рынке. </p>
			</div>
			<div class="contacts__phone">
				<a href="tel:+78312836688" class="phone">+7 831 283 66 88</a>
			</div>
		</div>
	</div>
</div>