<footer class="footer">
	<div class="footer__wrapper">
		<div class="footer__content">
			<div class="footer__elem">
				<div class="footer__adress">
					<p>Нижний Новгород, ул. Вязниковская 3а</p>
				</div>
				<div class="footer__requisites">
					<p>ИНН 5260467572</p>
					<p>КПП 526001001</p>
					<p>ОГРН 1195275054721</p>
				</div>
			</div>
			<div class="footer__elem">
				<div class="footer__design">
					<p>Дизайн и разработка: <a href="">Dream Team</a></p>
				</div>
			</div>
			<div class="footer__elem">
				<div class="footer__politic">
					<a>Политика конфиденциальности</a>
				</div>
				<div class="footer__mail">
					<a href="mailto:info@etalon-safe.ru">info@etalon-safe.ru</a>
				</div>
			</div>
		</div>
	</div>
</footer>
