<div class="booklet">
	<div class="booklet__wrapper">
		<div class="booklet__content">
			<div class="booklet__img" style="background-image: url(img/booklet/2.jpg);"></div>
			<div class="booklet__info text-black" style="background-color: #FFF3E8;">
				<h2 class="booklet__title">Сейф по индивидуальным параметрам</h2>
				<p class="booklet__text">Когда у&nbsp;вас есть строгие требования к&nbsp;сейфу, к&nbsp;его размерам и&nbsp;даже форме&nbsp;&mdash; обращайтесь в&nbsp;мастерскую Сейфы Эталон. Изготовим изделие с&nbsp;исключительной точностью (погрешность &lt; 1мм&nbsp;/ 1п.м)</p>
				<p>Каждый сейф, произведённый в&nbsp;нашей мастерской&nbsp;&mdash; уникален&nbsp;&mdash; изготовлен на&nbsp;заказ в&nbsp;единственном экземпляре.</p>
			</div>
		</div>
	</div>
</div>