<div class="booklet">
	<div class="booklet__wrapper">
		<div class="booklet__content">
			<div class="booklet__info padding-right orderone" style="background-color: #9D6A58;">
				<h3 class="booklet__title">Cейф по Вашим параметрам</h3>
				<p class="booklet__text">Удовлетворяем уникальные потребности каждого заказчика, такие как: габариты, назначение
					и даже форма изделия!</p>
				<p>Каждый сейф уникален, изоготовление сейфов на заказ в единственном экземпляре.</p>
			</div>
			<div class="booklet__img" style="background-image: url(../img/booklet/2.jpg);">
				
			</div>
		</div>
	</div>
</div>