<div class="booklet">
	<div class="booklet__wrapper">
		<div class="booklet__content">
			<div class="booklet__img" style="background-image: url(../img/booklet/1.jpg);">

			</div>
			<div class="booklet__info text-black" style="background-color: #FFF3E8;">
				<h3 class="booklet__title">Безопасность на высшем уровне</h3>
				<p class="booklet__text">Уникальная конструкция наполнения стенок изделия
					и новейшая система запирания дверей делают
					Сейфы Эталон надёжным хранилищем ваших вещей.</p>
				<p>Наши сейфы сертифицированы по ГОСТ Р 50862-2017
				с 0 по III класс взломостойкости.</p>
			</div>
		</div>
	</div>
</div>