<div class="booklet">
	<div class="booklet__wrapper">
		<div class="booklet__content">
			<div class="booklet__img" style="background-image: url(img/booklet/1.jpg);">

			</div>
			<div class="booklet__info" style="background-color: #9D6A58;">
				<h2 class="booklet__title">Безопасность на высшем уровне</h2>
				<p class="booklet__text">Уникальная конструкция наполнения стенок изделия и&nbsp;новейшая система запирания дверей делают Сейфы Эталон надёжным хранилищем ваших ценностей.</p>
				<p>Наши сейфы сертифицированы по&nbsp;ГОСТ Р&nbsp;50862-2017&nbsp;с 0&nbsp;по&nbsp;III класс взломостойкости и&nbsp;даже превосходят требования указанных стандартов.</p>
			</div>
		</div>
	</div>
</div>