// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss

@import "./components/normalize";

@import "./components/logo";
@import "./components/button";
@import "./components/nav";
@import "./components/burger";
@import "./components/wrapper";
@import "./components/section";

@import "./components/inside";

@import "./components/header";
@import "./components/intro";
@import "./components/booklet-block";
@import "./components/benefits";
@import "./components/contacts";
@import "./components/footer";





#callbacks-placeholder{
	position:fixed;top:50px;left:50px;color:black;z-index:999;
}